nav ul a { 
    font-family: "Verdana, Verdana, Geneva, sans-serif";
}

#todayDate {
    text-align: center;
}

html {
    scroll-behavior: smooth;
    
}

p {
    font-family: "Lucida Console",  monospace;
}

h1 {
    font-family: "Lucida Console",  monospace;
}

h2 {
    font-family: "Lucida Console",  monospace;
}

h3 {
    font-family: "Lucida Console",  monospace;
}

h4 {
    font-family: "Lucida Console",  monospace;
}

h5 {
    font-family: "Lucida Console",  monospace;
}   

h6 {
    font-family: "Lucida Console",  monospace;
}

a {
    font-family: "Lucida Console",  monospace;

}

.videoContainer {
    width: 200px;
    overflow: hidden;
    display: block;
    height: 360px;
}

#glass {
    margin-left: -220px;
}