nav ul a { 
    font-family: "Verdana, Verdana, Geneva, sans-serif";
}

#todayDate {
    text-align: center;
}

html {
    scroll-behavior: smooth;
    
}


.en-widescreen-video {
    width: 100%;
    position: relative;
    line-height: 0;
}

#index-top {
    position: relative;
    max-height: 600px;
    overflow: hidden;
    margin: 0px;
}

.cf {
    zoom: 1;
}

.en-widescreen-video video {
    min-height: 600px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
